USE [master]
GO
/****** Object:  Database [API]    Script Date: 2018-09-27 11:57:15 PM ******/
CREATE DATABASE [API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'API', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\API.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'API_log', FILENAME = N'c:\Program Files (x86)\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\API_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [API]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018-09-27 11:57:16 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[username] [varchar](50) NULL,
	[password] [varchar](50) NULL,
	[nama] [varchar](50) NULL,
	[alamat] [varchar](50) NULL,
	[telepon] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
